<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>

<form method="post">
    {% csrf_token %}
    <h5>Логин</h5>
    {{ form.username }}<br><br>
    <h5>Пароль</h5>
    {{ form.password }}<br><br>
    <button type="submit"> Вход </button>
</form>